<footer>
    <div id="foot">
      <div class="main1">
        <h1>WooFoo</h1>
        <!-- Footer-links -->
        <ul>
          <li><strong>
              <!-- Footer Header -->
              <h4>ABOUT</h4>
            </strong></li>
          <li>We are an event management company specialized in arranging events for large corporates.Who we are blog work with us investor relations report fraud.</li>
        </ul>
      </div>
      <div class="main2">
        <!-- Footer-links -->
        <ul class="content">
          <li>
              <!-- Footer Header -->
              <p>SERVICES</p>
           </li>
          
          <li>  <i aria-hidden="true"></i> Conferences</li>
          <li> <i aria-hidden="true"></i> Executive Retreats</li>
          <li>  <i aria-hidden="true"></i> Team Building events</li>
    
        </ul>

      </div>
      <div class="main3">
        <!-- Footer-links -->
        <ul>
          <li>
              <!-- Footer Header -->
              <p>COMPANY</p>
            </li>
          <li><i aria-hidden="true"></i> Home</li>
          <li><i aria-hidden="true"></i> About</li>
          <li><i aria-hidden="true"></i> Contact</li>
        </ul>
      </div>
      <div class="main4">
        <!-- Footer-links -->
        <ul>
          <li>
              <!-- Footer Header -->
              <p>CONTACT</p>
            </li>
          <li><i class="fa fa-phone" aria-hidden="true"></i> +27 000 0004l</li>
          <li><i class="fa fa-envelope-o" aria-hidden="true"></i> info@woofoo.com</li>
          <li><i class="fa fa-map-marker" aria-hidden="true"></i> 1 Street. NYC</li>
        </ul>
      </div>

      <div class="main5">
        <!-- social media links -->
            <p class="head5">SOCIAL LINKS</p> 
        <ul class="iconmain">
           <div class="i">
          <li><a class="icon img-fluid" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="icon  img-fluid" href="#"><i class="fa fa-twitter"></i></a></li>
        </div> 
          <div class="i1">
          <li><a class="icon  imgfluid" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="icon img-fluid" href="#"><i class="fa fa-linkedin"></i></a></li>
        </div>
        </ul>

      </div>
    </div>
  </footer>
