<!-- <p>add-to-fav works!</p> -->
<div>
  <h1>Favorites</h1>
<mat-card class="card2" *ngFor="let item of favorites">
    <img mat-card-image src="../../assets/{{item.image}}.jpg" >
    <mat-card-header>
      <mat-card-title>{{item.itemName}}</mat-card-title>
      <mat-card-subtitle>{{item.itemType}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>₹{{item.price}} for One
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="deleteFav(item.itemName)" mat-button>Remove from favorites</button>
      <!-- <button mat-button>SHARE</button> -->
    </mat-card-actions>
  </mat-card>
  <app-footer></app-footer>
</div>
