h1{
    color: black;
    font-weight: 500;
}
mat-card{
    background-color:whitesmoke ;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    margin-top: -160px;
    border-radius: 15px;
}
mat-radio-button {
    margin-right: 10px;
}
.head{
    font-size: medium;
    font-weight: 500;
    margin-right: 10px;
}
button{
    background-color: cadetblue;
    padding: 10px ;
    color: white;
    border-radius: 5px;
    border-color: rgb(107, 172, 174);
    font-size: large;
    font-family: italic;
    width: 100%;
    margin-top: -10px;
}
a{
    text-decoration: none;
    color: cadetblue;
    margin-left: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}
span{
    font-size: medium;
    
}